# Object file
*.o

# Ada Library Information
*.ali
apps/node_modules
apps/package-lock.json

express-locallibrary/node_modules
express-locallibrary/package-lock.json

simple-knowledgebase-app/node_modules
simple-knowledgebase-app/package-lock.json

hackathon-starter-master/node_modules
hackathon-starter-master/package-lock.json

nodekb-master/node_modules
nodekb-master/package-lock.json
