footer
  .container.text-center
    p.float-left © 2018 WKR, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/wakidur' target='_blank') GitHub Project
      li.list-inline-item
        a(href='https://github.com/wakidur/issues' target='_blank') Issues
