extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign up
  form(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='role') Role:
      .col-md-7
        select#role.form-control(type='select', placeholder='Select role' name='role' required='true' )
          option(value='Admin' selected=(undefined===users || users.role!='Admin' ? false:'selected')) Admin
          option(value='AminGroup' selected=(undefined===users || users.role!='AminGroup' ? false:'selected')) AminGroup
          option(value='Account' selected=(undefined===users || users.role!='Account' ? false:'selected')) Account
          option(value='Visitor' selected=(undefined===users || users.role!='Visitor' ? false:'selected')) Visitor
          option(value='User' selected=(undefined===users || users.role!='User' ? false:'selected')) User
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Signup
