

<form method="POST" action="">
  <div class="form-group">
    <label for="name">Genre</label>
    <input type="text" class="form-control"  id="Genre"  aria-describedby="nameHelp" name="name"
    placeholder="Fantasy, Poetry etc."


    {{#if genre}}
      value=""
      {{else}}
       value="{{genre.name}}"
    {{/if}}


    required="">
    <small id="emailHelp" class="form-text text-muted">{{errors.msg}}</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>

  <ul>
	{{#if errors}} {{#each errors}}
	<li>
		{{msg}}
	</li>
	{{/each}} 
	{{/if}}
</ul>
</form>


